.Gameboard {
    min-height: 100vh;
}

.Gameboard__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Gameboard__header__menu-overlay__content {
    background-color: var(--white-1);
}

.Gameboard__board {
    display: grid;
}

.board--4x4 {
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 4rem);
    gap: 1rem;
}

.board--6x6 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.btn--menu {
    background-color: var(--orange);
}

.btn--restart {
    background-color: var(--orange);
}

.btn--new-game,
.btn--resume {
    color: var(--blue-2);
}

.btn--new-game:hover,
.btn--resume:hover {
    color: var(--white-1);
}

.btn--restart:hover {
    background-color: hsl(36, 100%, 65%);
}

.matched {
    pointer-events: none;
}


@media screen and (min-width: 375px) {
    .Gameboard {
        padding: 1.25rem;
    }

    .Gameboard__header {
        margin-bottom: 3rem;
    }

    .Gameboard__header__buttons__restart,
    .Gameboard__header__buttons__new-game {
        display: none;
    }

    .Gameboard__header__menu-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 70%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Gameboard__header__menu-overlay__content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        min-height: 33vh;
        padding: 0 1rem;
        border-radius: 15px;
    }

    .Gameboard__header__menu-overlay__restart,
    .Gameboard__header__menu-overlay__new-game,
    .Gameboard__header__menu-overlay__resume {
        width: 100%;
    }

    /* .Gameboard__header__menu-overlay {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        background-color: red;
        width: 90%;
    } */
}